### Load data

In [5]:
import numpy as np
import pickle as p
import pandas as pd

filename = "load.csv"

#### Using __with open__

In [17]:
cols = None
data = []

with open(filename) as f:
    for line in f.readlines():
        vals = line.replace("\n","").split(",")

        if cols is None:
            cols = vals
        else:
            data.append([ float(x) for x in vals])

df = pd.DataFrame(data,columns = cols)
df

         A       B       C        D      E
0    1.276  21.400  63.957  216.204  528.0
1    1.002  21.950  61.697  204.484  514.0
2    1.114  22.454  63.522  205.608  514.0
3    1.133  22.494  61.590  206.565  501.0
4    0.845  21.654  63.729  201.289  532.0
..     ...     ...     ...      ...    ...
495  1.060  20.585  60.653  208.990  501.0
496  1.163  22.629  62.278  200.712  497.0
497  1.029  21.705  62.311  209.684  517.0
498  1.114  21.473  65.710  212.078  506.0
499  1.199  21.586  64.273  208.358  500.0

[500 rows x 5 columns]

#### Using __np.loadtxt__

In [21]:
d1 = np.loadtxt(filename, skiprows=1, delimiter=",")
d1[:5,:]

array([[  1.276,  21.4  ,  63.957, 216.204, 528.   ],
       [  1.002,  21.95 ,  61.697, 204.484, 514.   ],
       [  1.114,  22.454,  63.522, 205.608, 514.   ],
       [  1.133,  22.494,  61.59 , 206.565, 501.   ],
       [  0.845,  21.654,  63.729, 201.289, 532.   ]])

#### Using __genfromtxt__

In [30]:
d2 = np.genfromtxt(filename,delimiter=',',names = True, dtype=None)
# dtype = None: numpy try to infer the data type for each columns
d2['A'][:3]

array([1.276, 1.002, 1.114])

#### Using __pd.read__

In [ ]:
d3 = pd.read_csv(filename)